<div class="media align-items-lg-center flex-column flex-lg-row p-3">
    <img src="{{listItem.photo}}" alt="Generic placeholder image" width="175" class="mr-lg-4 order-1">
    <div class="media-body order-2">
        <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
        <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Suscipit fuga autem maiores necessitatibus.</p>
        <div class="d-flex align-items-center justify-content-between mt-1">
            <h6 class="font-weight-bold my-2">$120.00</h6>
            <ul class="list-inline small">
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
            </ul>
        </div>
    </div>
</div>
